@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito+Sans:wght@700&family=Oxygen:wght@300&family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito+Sans:wght@700&family=Oxygen:wght@700&family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito+Sans:wght@700&family=Oxygen&family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito+Sans&family=Oxygen&family=Roboto:wght@300;900&display=swap');

body{
	margin: 0;
	background-image: url(../assets/cxv.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
body:before {
	content: "";
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, #8b9190, #303637);
	opacity: 0.2;
	z-index: -1;
}

.fondo-vacio{
	background: #BFBABA;
}

.estilo-nav :hover{ 
	background-color: #C5C0C0;
}

.estilo-letter{
	color: black;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	font-weight: bold;
	/*text-transform: uppercase;*/

}

.mensaje{
	width: auto;
	padding: 30px 10px;
	height: 69vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
 .titulo{
	font-family: 'Oxygen', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}
 .subtitulo{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
	padding: 10px;
}

.redSocial{
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	padding: 38px 15px;
}

.contenedor{
	width: 90%;
	max-width: 1400px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	column-gap: 30px;
	row-gap: 15px;
	grid-template-columns: 3fr 1fr;
}
.contenedor-items{
	display: grid;
	grid-gap: 29px;
	
}
.textos{
	height: 120px;
	padding: 10px;
	border-radius: 20px;
	border-bottom: 0.5px solid white;
  	background: rgba(255, 255, 255, .5); 	
}
.textos .titulo{
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.textos h1{
	font-family: 'Oxygen', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: black;
}
.textos .subtitulo{
	font-size: 15px;
	color: black;
	font-family: 'Oxygen', sans-serif;
}
.contenedor-imagen{
	justify-self: end;
	align-self: end;
}
.contenedor-imagen img{
	border-radius: 550px;
	height: 400px;
	width: 350px;
}

#footer{
	border-bottom: 0.3px solid white;
  	background: rgba(255, 255, 255, .9);
  	height: 10vh;
  	padding-bottom:10px;
  	width: auto;
}

.card-style{
	width: 400px;
	margin: 90px;
}

.cont_titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #fff;;
	margin: 10px;
}

.carousel-img{
	width: 1500px;
}