@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito+Sans:wght@700&family=Oxygen:wght@300&family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito+Sans:wght@700&family=Oxygen:wght@700&family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito+Sans:wght@700&family=Oxygen&family=Roboto:wght@300;900&display=swap');

*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0;
	background-image: url(../assets/cxv.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
body:before {
	content: "";
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, #8b9190, #303637);
	opacity: 0.2;
	z-index: -1;
}
.contNav{
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo{
	width: 25%;
	display: flex;
	justify-content: center;
}
.logo img{
	width: 400px;
	height: 200px;
}
.menu{
	width: 75%;
	padding: 40px 10px;
}
.menu_items{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin-right: 30px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
}
.menu_items li{
	border-radius: 3px;
	margin: 0 10px;
}

.menu_items li a{
	padding: 7px 13px;
	text-decoration: none;
	font-size: 18px;
	display: block;
	color: white;
}

.mensaje{
	width: auto;
	padding: 30px 10px;
	height: 69vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mensaje .titulo{
	font-family: 'Oxygen', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}
.mensaje .subtitulo{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
	padding: 10px;
}
.redSocial{
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	padding: 38px 15px;
}
.contenedor{
	width: 90%;
	max-width: 1400px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	column-gap: 30px;
	row-gap: 15px;
	grid-template-columns: 3fr 1fr;
}
.contenedor-items{
	display: grid;
	grid-gap: 29px;
	
}
.textos{
	height: 120px;
	padding: 10px;
	border-radius: 20px;
	border-bottom: 0.5px solid white;
  	background: rgba(255, 255, 255, .5); 	
}
.textos .titulo{
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.textos h1{
	font-family: 'Oxygen', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: black;
}
.textos .subtitulo{
	font-size: 15px;
	color: black;
	font-family: 'Oxygen', sans-serif;
}
.contenedor-imagen{
	justify-self: end;
	align-self: end;
}
.contenedor-imagen img{
	border-radius: 550px;
	height: 400px;
	width: 350px;
}
#footer {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border-bottom: 0.5px solid white;
  	background: rgba(255, 255, 255, .5);*/
  	height: 11vh;
  	padding-bottom: 10px;
  	text-decoration: none;
  	color: black;
}


@media all and (max-width: 768px){
	.contNav{
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		height: 40%;
		width: 100%;
	}
	
	.menu_items{
		flex-direction: column;
		list-style: none;
		font-family: 'Nunito Sans', sans-serif;
		font-weight: bold;
	}

	.mensaje{
		height: 50px;
		width: 100%;
		padding: 60px;
	}

	.redSocial{
		height: 30%;
		width: 100%;
	}

	#footer{
		height: 30%;
		width: 100%;
	}

	.contenedor{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contenedor-items{
		width: 350px;
		height: 1000px;
	}

	.textos{
		height: 250px;
	}

	.contenedor-imagen {
		width: 350px;
		height:500px;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
	}

}